.contact-container h1{
    font-size: 2rem;
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 80px;
}

.contact-description {
    font-weight: 500;
    letter-spacing: -.01rem;
    word-spacing: 2px;
    font-family: Inter;
    line-height: 1.1;
    font-size: 1.3rem;
    align-self: center;
    margin-top: -25px;
}

.contact-socials {
    display: flex;
    gap: 30px;
    align-items: center;
    filter: saturate(80%);
    
}


.contact-header{
align-self: center;
}



.contact-socials a:hover{
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05);
    filter: hue-rotate(190deg);

}

.contact-socials img:hover{
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05);
}

.contact-socials-container{
    align-self: center;
}

#linkedin:hover{
    filter:hue-rotate(340deg)
}

#github:hover {
    filter:hue-rotate(350deg)
}

#discord:hover{
    filter:hue-rotate(0deg)
}

#email:hover{
    filter:hue-rotate(10deg)
}

#resume:hover{
    filter:hue-rotate(20deg)
}
.contact-socials button{
    height: 100px;
    margin:0;
}

.contact-socials img{
    margin:0;
    margin-top:-5px;
}

.contact-socials p{
    top:10px;
    margin:0px;
    font-weight: 200;
    font-size: 15px;
}