.contact-container h1{
    font-size: 2rem;
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 80px;
}

.contact-description {
    font-weight: 500;
    letter-spacing: -.01rem;
    word-spacing: 2px;
    font-family: Inter;
    line-height: 1.1;
    font-size: 1.3rem;
    align-self: center;
    margin-top: -25px;
}

.contact-socials {
    display: flex;
    gap: 30px;
    
    
}


.contact-header{
align-self: center;
}

.contact-socials a{
    filter: brightness(00%);
}
.contact-socials img{
    filter: brightness(00%);
}

.contact-socials a:hover{
    filter: brightness(00%);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05);

}

.contact-socials img:hover{
    filter: brightness(0%);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05);
}

.contact-socials-container{
    align-self: center;
}

.icon{
height: 50px;
width: 50px;
}