.header-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 700px;
    width: 100vw;
    margin: 0 auto;
    margin-top: 80px;
    
}
.header-container h1{
    font-size: 2.5rem;

}
.header-header{
    display: flex;
}
.header-container p{
    font-weight: 500;
    letter-spacing: -.01rem;
    word-spacing: 2px;
    font-family: Inter;
    line-height: 1.1;
    font-size: 1.25rem;
    text-align: left;
    margin-top: 10px;
    max-width: 95vw;
}

.header-sub-1 {
   display: inline;
}

.header-sub-1 h2,
.header-sub-2 h2,
.header-sub-3 h2 {
    margin: 0; 
    padding: 0; 
    text-align: left; 
 }

.header-sub-icons,
.header-sub-icons2,
.header-sub-icons3 {
    margin-top: 10px;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;

    width: 95vw;
    max-width: 700px;
    
}

.header-sub-icons img,
.header-sub-icons2 img,
.header-sub-icons3 img
{
    gap:45px
    

    
}

.header-sub-icons img:hover,
.header-sub-icons2 img:hover,
.header-sub-icons3 img:hover{
cursor: pointer;
transition: transform 0.2s ease-in-out;
transform: scale(1.2);
}

.icons {
    filter: invert(1); 
  }
  
  .dark-theme .icons {
    filter: none;
    filter: brightness(200%); 
  }

  @media (max-width: 728px){
    .header-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        width: 100vw;
        margin-top: 80px;
        margin-left: 12.5px;
        
    }
    .header-header h1{
        font-size: 2.5rem;
    
    }
    .header-container p{
        font-weight: 500;
        letter-spacing: -.01rem;
        word-spacing: 2px;
        font-family: Inter;
        line-height: 1.1;
        font-size: 1.25rem;
        text-align: left;
        margin: 0;
        margin-bottom: 30px;
    }
    

    

  }