.header-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 80px;
    
}
.header-container h1{
    font-size: 2rem;

}
.header-container p{
    font-weight: 500;
    letter-spacing: -.01rem;
    word-spacing: 2px;
    font-family: Inter;
    line-height: 1.1;
    font-size: 21px;
    text-align: left;
    margin-top: 10px;
}

.header-sub-1 {
   display: inline;
}

.header-sub-1 h2,
.header-sub-2 h2,
.header-sub-3 h2 {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    text-align: left; /* Align the text to the left*/
 }

.header-sub-icons,
.header-sub-icons2,
.header-sub-icons3 {
    margin-top: 10px;
    display: flex;
    margin-bottom: 30px;
}

.header-sub-icons img,
.header-sub-icons2 img,
.header-sub-icons3 img
{
    margin-right: 45px;
}

.header-sub-icons img:hover,
.header-sub-icons2 img:hover,
.header-sub-icons3 img:hover{
cursor: pointer;
transition: transform 0.2s ease-in-out;
transform: scale(1.2);
}