.navigation {
    max-width: 700px;
    margin: 0 auto;
    position: -webkit-sticky;
    margin-top: 20px;
}
  
  .nav-items,
  .nav-items2 {
    align-items: center;
    display: flex; /* Use flexbox to display items in a row */
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    flex-direction: row;
  }
  
  .nav-item-left {
    margin-right: 20px; /* Add some spacing between the buttons */
  }
  button.theme-toggle{
    margin-right: 10px;
  }
  .nav-item-right {
    margin-right: 20px;
  }

button{
    gap: 0.25rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    color: #252525;
    padding: 0.3rem 0.35rem;
    border-radius: 10px;
    border: 1.9px solid #e6e6e6;
    transition: transform 0.2s ease-in-out;
    background-color: #fcfafa;
    white-space: nowrap;
    padding: 8px 12px;
  }

 button:hover{
    background-color: #ecebeb;
    border-color: #a0a0a0;
    color: #070707;
  }


  /* Media query for mobile devices */
@media (max-width: 728px) {

    .nav-items,
    .nav-items2 {
        display: flex;
      flex-direction: row; /* Change to a column layout for mobile */
      justify-content: center;

    }
  
    .nav-item-left,
    .nav-item-right {
      margin-right: 6px;
    }
  
    .nav-item-right {
      margin-left: 0; /* Reset margin for right items */
      margin-right: 5px;
    }
  }


  .theme-toggle {
    border-radius: 50%; /* Make it a circle */
  }
  .nav-items img{
    min-height: 20px;
    min-width: 20px;
    max-height: 20px;
    margin-right: 0.25rem;
    margin-bottom: -3.5px;
  }