

.navigation {
    max-width: 700px;
    margin: 0 auto;
    position: flex;
    margin-top: 20px;
    z-index: 3; 
    
}
  
  .nav-items,
  .nav-items2 {
    align-items: center;
    display: flex; /* Use flexbox to display items in a row */
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    flex-direction: row;
    gap: 20px;
  }
  
  button.theme-toggle{
    margin-right: 0px;
  }

button{
    gap: 0.25rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-buttons);
    padding: 0.3rem 0.35rem;
    border-radius: 10px;
    border: 1px solid var(--button-border);
    transition: transform 0.2s ease-in-out;
    background-color: var(--button-background);
    white-space: nowrap;
    padding: 8px 12px;
  }

 button:hover{
    background-color: var(--button-hover);
    border-color: var(--button-border-hover);
    color: var(--text-primary);
  }


  /* Media query for mobile devices */
@media (max-width: 728px) {

    .nav-items,
    .nav-items2 {
        display: flex;
      flex-direction: row; /* Change to a column layout for mobile */
      justify-content: center;

    }
  
    .nav-item-left,
    .nav-item-right {
      margin-right: 6px;
    }
  
    .nav-item-right {
      margin-left: 0; /* Reset margin for right items */
      margin-right: 5px;
    }
  }
  .nav-items .theme-toggle {
    border-radius: 50%;
    padding: 0;
    width: 40px; /* Set the width and height to make the button square */
    height: 40px;
    cursor: pointer; /* Add a cursor to indicate the button is clickable */
  }

  .nav-items .theme-toggle img{
    min-width: 38px;
    min-height: 38px;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    margin-top: -3px;

  }
  .nav-items img{
    min-height: 20px;
    min-width: 20px;
    max-height: 20px;
    margin-right: 0.25rem;
    margin-bottom: -3.5px;
  }