.projects-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 50px;
}

.projects-header h1{
    font-size: 2rem;

}

.projects-header{

    display: flex;
    flex:1;

}

.projects-header button{
    align-self: center;
    height: 40px;
    margin-left: 473.25px ;
}

.projects-card {
    border-radius: 10px;
    position: relative;
    flex-direction: row;
    display: flex;
    width: 700px;
    margin-right: 30px;
    text-align: left;
    border-radius: 15px;
    border: 2px solid rgb(235, 231, 231);
    box-shadow: 2px 2px 8px 2px #fffefe;
    width: 700px;
    margin-top: 20px;
    
    
}
.projects-card-left{
    margin-left:15px;
    width: 350px;
}
.projects-card-left button{
    background-color:rgb(233, 230, 230);
}
.projects-card-right{
    width: 350px;
}
i {
    word-spacing: 2px;
    font-family: Inter;
}
.projects-description p{
    font-weight: 500;
    letter-spacing: -.01rem;
    word-spacing: 2px;
    font-family: Inter;
    line-height: 1.1;
    font-size: 21px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 30px;
}
.projects-card-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 700px;

}

.projects-card-button1{
    display:block;
    justify-content: center;
    align-items: flex-end; /* Align items to the bottom */
    margin-top: auto;

    
}

.projects-card-button2{
    display:block;
    justify-content: center;
    align-items: flex-end; /* Align items to the bottom */
    margin-top: auto;
}
.projects-card-button1 button,
.projects-card-button2 button,
.projects-card-button3 button{
    margin-right: 10px;
    background-color: white;
}

.projects-card-button1 button:hover,
.projects-card-button2 button:hover,
.projects-card-button3 button:hover{
    background-color: #ecebeb;
    border-color: #a0a0a0;
    color: #070707;
}

.projects-card img{
    width: 320px;
    height: 209.98px;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 15px;
}

.projects-card:hover{
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05);
    background-color:#f5f5f5;
}

.projects-card-button3 .live{
    visibility: hidden;
    display: none;
}


